PORT=8080
SQLITE_DB_PATH=../database/assets/health_app.db
TWILIO_ACCOUNT_SID=YOUR_TWILIO_ACCOUNT_SID
TWILIO_AUTH_TOKEN=YOUR_TWILIO_AUTH_TOKEN
TWILIO_FROM_NUMBER=YOUR_TWILIO_PHONE_NUMBER
INFOBIP_API_KEY=YOUR_INFOBIP_API_KEY
INFOBIP_BASE_URL=https://YOUR_BASE_URL.api.infobip.com
INFOBIP_SENDER=YourSenderName
SMS_DEFAULT_COUNTRY_CODE=+40
